<div class="home-full">
    <app-nav-bar [isSidebarHidden]="isSidebarHidden"></app-nav-bar>
    <div [ngClass]="isSidebarHidden ? 'home-container-full transition' : 'home-container transition'">
        <div [ngClass]='isDarkModeOn ? "dark-theme": "light-theme"'>
            <div class="header">
                <h1>𝕏𝔹</h1>
                <button *ngIf="isDarkModeOn === false" class="theme" (click)="onModeClick()" type="button">
                    🌙 Dark Mode
                </button>
                <button *ngIf="isDarkModeOn" class="theme" (click)="onModeClick()" type="button">
                    🌞 Light Mode
                </button>
            </div>
        </div>
        <div class="close-sidebar" (click)="onCloseSidebarClick()" [ngClass]="isSidebarHidden ? 'sidebar-hidden' : 'close-sidebar'">
        </div>
        <router-outlet></router-outlet>
    </div>
</div>

