<div class="home-full">
    <app-nav-bar></app-nav-bar>
    <div class="home-container">
        <div [ngClass]='isDarkModeOn ? "dark-theme": "light-theme"'>
            <div class="header">
                <h1>𝕏𝔹</h1>
                <button *ngIf="isDarkModeOn === false" class="theme" (click)="onModeClick()" type="button">
                    🌙 Dark Mode
                </button>
                <button *ngIf="isDarkModeOn" class="theme" (click)="onModeClick()" type="button">
                    🌞 Light Mode
                </button>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>

