/* You can add global styles to this file, and also import other style files */


* {
  box-sizing: border-box;
  margin: 0; 
  font-family: 'Roboto', sans-serif;
  word-spacing: 1px;
}

.qb {
  display: block;
  padding-left: 20px;
  height: auto;
}

.chapter-container h1 {
  font-size: 20px;
}

.chapter-container ol {
  margin: 20px;
  padding: 20px;
}

.chapter-container p {
  margin: 10px 20px;
  padding: 5px 0;
  line-height: 1.5;
}