/* You can add global styles to this file, and also import other style files */
:root {
  --light-theme-text-color: black;
  --dark-theme-text-color: rgb(231, 230, 230);
  --light-theme-background-color: ghostwhite;
  --dark-theme-background-color: #15202B;
}

.light-theme {
  color: var(--light-theme-text-color);
  background-color: var(--light-theme-background-color);
}

.dark-theme {
  color: var(--dark-theme-text-color);
  background-color: var(--dark-theme-background-color);
}

* {
  box-sizing: border-box;
  margin: 0; 
  font-family: 'Roboto', sans-serif;
  word-spacing: 1px;
}

.qb {
  display: block;
  padding-left: 20px;
  height: auto;
}

.chapter-container h1 {
  font-size: 20px;
  margin-left: 20px;
}

.chapter-container ol {
  margin: 30px 0;
}

.chapter-container p {
  margin: 10px 20px;
  padding: 5px 0;
  line-height: 1.5;
}

